.entertainments__headline {
  white-space: pre-line;
}

.entertainments__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  line-height: 1.4;
  font-weight: 700;
}

.entertainments__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 0 1 380px;
  min-height: 228px;
  padding: 6px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  transition: transform 0.3s ease-in-out;
}

.entertainments__item:hover {
  transform: scale(1.1);
}

.entertainments__item_background_vr {
  background-image: url(../../img/entertainments/vr.jpg);
}

.entertainments__item_background_sound-system {
  background-image: url(../../img/entertainments/sound-system.jpg);
}

.entertainments__item_background_karaoke {
  background-image: url(../../img/entertainments/karaoke.jpg);
}

.entertainments__item_background_board-game {
  background-image: url(../../img/entertainments/board-game.jpg);
}

.entertainments__item_background_tv {
  background-image: url(../../img/entertainments/tv.jpg);
}

.entertainments__item_background_game-console {
  background-image: url(../../img/entertainments/game-console.jpg);
}

.entertainments__caption {
  flex: 0 1 300px;
  min-height: 56px;
  white-space: pre-line;
}