.reviews {
  font-size: 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__author {
  display: inline-block;
  margin-right: 20px;
}

.reviews__image {
  display: inline-block;
  margin-bottom: 11px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews__image_position_top {
  object-position: center top;
}

.reviews__image_position_closer-top {
  object-position: center 30%;
}

.reviews__image_position_below-middle {
  object-position: center 60%;
}

.reviews__caption {
  max-width: 280px;
  text-align: center;
}

.reviews__text {
  display: inline-block;
  width: calc(100% - 500px);
  padding-top: 52px;
  vertical-align: top;
}