.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 980px;
  margin: 0 auto;
  line-height: 1.4;
}

.reviews__item {
  display: flex;
  gap: 20px;
}

.reviews__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  flex: 0 0 280px;
}

.reviews__image {
  border-radius: 50%;
  object-fit: cover;
}

.reviews__image_position_top {
  object-position: center top;
}

.reviews__image_position_closer-top {
  object-position: center 30%;
}

.reviews__image_position_below-middle {
  object-position: center 60%;
}

.reviews__caption {
  max-width: 280px;
}

.reviews__text {
  padding: 52px 0 0;
}