.title-questions {
  margin-top: 0;
}

.list-questions {
  padding-left: 0;
  margin: 0;
}

.item-questions {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  list-style-type: none;
  line-height: 192%;
}

/* --- Псевдокласс у item */
.item-questions:last-child {
  margin-bottom: 0;
}

.item-questions:nth-child(odd) {
  background-color: #ffffff;
  color: #1c1a1a;
}

.item-questions:nth-child(even) {
  background-color: #440f51;
  color: #ffffff;
}
/* Псевдокласс у item --- */

/* --- Псевдоэлемент у item */
.item-questions:nth-child(n)::after {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  float: right;
  background-repeat: no-repeat;
}

.item-questions:nth-child(odd)::after {
  background-image: url(img/open-purple.svg);
}

.item-questions:nth-child(even)::after {
  background-image: url(img/open.svg);
}
/* Псевдоэлемент у item --- */