.title-questions {
  margin-top: 0;
}

.list-questions {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item-questions {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 70px;
  margin-bottom: 20px;
  line-height: 1.9;
}

.item-questions:last-child { /* Псевдокласс у item */
  margin-bottom: 0;
}

.item-questions:nth-child(odd) {
  background-color: #fff;
  color: #1c1a1a;
}

.item-questions:nth-child(even) {
  background-color: #440f51;
  color: #fff;
}

.item-questions::after { /* Псевдоэлемент у item */
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  float: right;
  background-repeat: no-repeat;
}

.item-questions:nth-child(odd)::after {
  background-image: url(img/open-purple.svg);
}

.item-questions:nth-child(even)::after {
  background-image: url(img/open.svg);
}