* {
  box-sizing: border-box;
}

body {
  background-color: #1b1a1b;
  color: #ffffff;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.about-quote {
  text-transform: uppercase;
}