.header {
  padding: 30px 0 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  flex: 0 1 587px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__button {
  flex: 0 1 286px;
  padding: 12px 32px 13px;
  line-height: 30px;
  color: #fff;
  border: 3px solid #cd06ff;
}