.header {
  padding: 30px 0 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  flex: 0 1 587px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__anchor {
  transition: color .3s ease-in-out;
}

.header__anchor:hover {
  color: var(--link-accent-color);
}

.header__anchor:focus {
  color: var(--link-accent-color);
  outline: #fff0;
}

.header__anchor:active {
  color: var(--link-active-color);
}

.header__button {
  min-width: 280px;
  padding: 12px 32px 13px;
  line-height: 30px;
  color: var(--text-color);
  background-clip: padding-box;
  border: 3px solid var(--header-btn-border-basic-color);
  outline: 1px solid #fff0;
  outline-offset: -3px;
  transition:
    background .3s ease-in-out,
    border .2s ease-in-out,
    outline .2s ease-in-out;
}

.header__button:hover {
  background-color: var(--header-btn-accent-color);
  border-color: var(--header-btn-accent-color);
}

.header__button:focus {
  background-color: var(--header-btn-accent-color);
  border-color: #fff0;
  outline-color: #fff0;
}

.header__button:active {
  background-color: var(--header-btn-active-color);
  border-color: #fff0;
  outline-color: var(--header-btn-outline-active-color);
}