.header {
  padding: 30px 0 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  flex: 0 1 587px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__anchor {
  transition: color 0.3s ease-in-out;
}

.header__anchor:hover {
  color: #cd06ff;
}

.header__anchor:focus {
  color: #cd06ff;
  outline: transparent;
}

.header__anchor:active {
  color: #640aa3;
}

.header__button {
  min-width: 280px;
  padding: 12px 32px 13px;
  line-height: 30px;
  color: #fff;
  background-clip: padding-box;
  border: 3px solid #cd06ff;
  outline: 1px solid transparent;
  outline-offset: -3px;
  transition: background-color 0.3s ease-in-out,
    border 0.2s ease-in-out,
    outline 0.2s ease-in-out;
}

.header__button:hover {
  background-color: #6c0287;
  border-color: #6c0287;
}

.header__button:focus {
  background-color: #6c0287;
  border-color: transparent;
  outline-color: transparent;
}

.header__button:active {
  background-color: #640aa3;
  border-color: transparent;
  outline-color: #000;
}