.socials {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  max-width: 278px;
}

.socials__item {
  flex: 0 0 50px;
}

.socials__link {
  display: block;
  width: 50px;
  height: 50px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.socials__link:hover {
  color: #cd06ff;
}

.socials__link:focus {
  outline-color: #cd06ff;
}

.socials__link:active {
  color: #840aa3;
}