.faq {
  padding: 50px 0 45px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  align-items: center;
}

.faq__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  padding: 21px 70px 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.faq__button_theme_light {
  color: var(--faq-btn-themeLight-text-color);
  background-color: var(--faq-btn-themeLight-color);
}

.faq__button_theme_dark {
  color: var(--faq-btn-themeDark-text-color);
  background-color: var(--faq-btn-themeDark-color);
}

.faq__button:after {
  content: "";
  flex: 0 0 46px;
  min-height: 46px;
  background-repeat: no-repeat;
  transition: background .2s ease-in-out;
}

.faq__button_theme_light:after {
  background-image: url(../../img/faq/open-purple-transparent.svg);
}

.faq__button_theme_light:hover:after,
.faq__button_theme_light:focus:after {
  background-image: url(../../img/faq/open-purple.svg);
}

.faq__button_theme_light:active:after {
  background-image: url(../../img/faq/close-purple-transparent.svg);
}

.faq__button_theme_dark:after {
  background-image: url(../../img/faq/open-white-transparent.svg);
}

.faq__button_theme_dark:hover:after,
.faq__button_theme_dark:focus:after {
  background-image: url(../../img/faq/open-white.svg);
}

.faq__button_theme_dark:active:after {
  background-image: url(../../img/faq/close-white-transparent.svg);
}