.faq {
  padding: 50px 0;
}

.faq__title {
  margin: 0 0 40px;
}

.faq__item {
  display: flow-root;
  padding: 21px 70px 20px;
  font-size: 24px;
  line-height: 1.9;
  font-weight: 700;
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq__item:nth-child(odd) {
  color: #1c1a1a;
  background-color: #ffffff;
}

.faq__item:nth-child(even) {
  color: #ffffff;
  background-color: #440f51;
}

.faq__item::after {
  content: "";
  display: block;
  float: right;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.faq__item:nth-child(odd)::after {
  background-image: url(../../img/faq/open-purple.svg);
}

.faq__item:nth-child(even)::after {
  background-image: url(../../img/faq/open-white.svg);
}