.about__container {
  display: flow-root;
  background-image: url(../../img/about/about-background.jpg);
  background-repeat: no-repeat;
  background-size: 600px 596px;
  background-position: bottom left 30px;
}

.about__title {
  margin: 0 0 46px;
}

.about__inner {
  float: right;
  max-width: 500px;
}

.about__box-desc {
  margin-bottom: 58px;
}

.about__desc {
  font-size: 20px;
  line-height: 1.4;
  white-space: pre-line;
}

.about__desc:not(:last-child) {
  margin-bottom: 28px;
}

.about__blockquote {
  margin: 0;
  padding-left: 31px;
}

.about__quote {
  position: relative;
  margin-bottom: 28px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
}

.about__quote::before {
  content: "“";
  position: absolute;
  top: -11px;
  left: -31px;
  font-weight: 900;
  color: #6c0287;
}

.about__quote::after {
  content: " ”";
  display: inline;
  font-weight: 900;
  color: #6c0287;
}

.about__source {
  font-size: 0;
  text-align: right;
}

.about__img-author {
  margin-right: 30px;
  vertical-align: middle;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.about__caption {
  display: inline-block;
  max-width: 280px;
  padding-right: 46px;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  vertical-align: middle;
}

.about__cite {
  font-style: normal;
}