.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  max-width: 1180px;
}

.about__background {
  width: 600px;
  height: 596px;
  background-image: url(../../img/about/about-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about__wrap-content {
  display: flex;
  flex-direction: column;
  flex: 0 1 500px;
}

.about__box-desc {
  margin-bottom: 58px;
  line-height: 1.4;
}

.about__desc {
  white-space: pre-line;
}

.about__desc:not(:last-child) {
  margin: 0 0 28px;
}

.about__blockquote {
  margin: 0;
  padding: 0 0 0 31px;
}

.about__quote {
  position: relative;
  margin: 0 0 28px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
}

.about__quote::before {
  content: "“";
  position: absolute;
  top: -11px;
  left: -31px;
  font-weight: 900;
  color: #6c0287;
}

.about__quote::after {
  content: " ”";
  display: inline;
  font-weight: 900;
  color: #6c0287;
}

.about__source {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.about__image {
  max-width: 80px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.about__caption {
  flex: 0 1 300px;
  padding: 0 30px 0 0;
  line-height: 1.4;
}

.about__cite {
  display: block;
  max-width: 270px;
  font-style: normal;
}