.halls {
  font-size: 0;
}

.halls__title {
  margin-bottom: 60px;
}

.halls__item {
  display: inline-block;
  width: calc(100% - 50% - 10px);
  padding: 135px 0 134px;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.halls__item:nth-child(odd) {
  margin-right: 20px;
}

.halls__item_indent-external_bottom {
  margin-bottom: 20px;
}

.halls__item_theme_vibes {
  background-image: url(../../img/halls/80s.jpg);
  background-position: 40% 81%;
}

.halls__item_theme_star {
  background-image: url(../../img/halls/star-wars.jpg);
}

.halls__item_theme_wild {
  background-image: url(../../img/halls/wild-west.jpg);
}

.halls__item_theme_neon {
  background-image: url(../../img/halls/neon-style.jpg);
}

.halls__subtitle {
  display: inline-block;
  max-width: 450px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
}