.halls__title {
  margin-bottom: 60px;
}

.halls__item {
  min-height: 710px;
  padding: 315px 0;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.halls__item:not(:last-child) {
  margin-bottom: 60px;
}

.halls__item_theme_vibes {
  background-image: url(../../img/halls/80s.jpg);
  background-position: 40% 81%;
}

.halls__item_theme_star {
  background-image: url(../../img/halls/star-wars.jpg);
}

.halls__item_theme_wild {
  background-image: url(../../img/halls/wild-west.jpg);
}

.halls__item_theme_neon {
  background-image: url(../../img/halls/neon-style.jpg);
}

.halls__subtitle {
  display: inline-block;
  max-width: 450px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
}