.halls {
  padding: 50px 0;
}

.halls__title {
  margin-bottom: 60px;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.halls__item {
  min-height: 710px;
  padding: 275px 0;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.halls__item:not(:last-child) {
  margin-bottom: 60px;
}

.halls__item-80s {
  background-image: url(../images/halls/80s-vibes.jpg);
  background-position: 40% 81%;
}

.halls__item-ss {
  background-image: url(../images/halls/star-wars.jpg);
}

.halls__item-ww {
  background-image: url(../images/halls/wild-west.jpg);
}

.halls__item-ns {
  background-image: url(../images/halls/neon-style.jpg);
}

.halls__subtitle {
  display: inline-block;
  max-width: 226px;
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
}